name: Update Docker Hub Description

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout Code
        uses: actions/checkout@v2
      -
        name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
          repository: ${{ github.repository }}
          short-description: "One-stop solution to create routing data files (.rd5) for BRouter."
